<h1><%-siteName%></h1>
Hola <b><%-user.firstName%> <%-user.lastName%></b>!<br />
Se ha solicitado cambiar tu contraseña, a continuación se encuentra tu
<hr />
Contraseña temporal: <b><%-newPassword%></b>
<hr />
Te recomendamos cambiarla lo mas pronto posible.
